[submodule ".zsh/modules/zsh-context-sensitive-alias"]
	path = .zsh/modules/zsh-context-sensitive-alias
	url = https://github.com/uasi/zsh-context-sensitive-alias.git
[submodule "neovim-settings"]
	path = neovim-settings
	url = https://github.com/yogomi/neovim-settings.git
